@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

/* Pagina CV */
/* Inicio */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    
}
body{
    background-color: black;
}
html {
    scroll-behavior: smooth;
}
#inicio{
    background-image: linear-gradient(to right, 
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.6)
    ), url('/images/fondo.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;

}
#inicio .container header{
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}
#inicio .container header .container-header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}
.container-header a{
    text-decoration: none;
    list-style: none;
}
#inicio .container header .container-header h1{
   text-align:center; 
   color: red;
}
.container-header nav ul{
    list-style: none;
    display: flex;
    align-items: center;
}
.container-header nav ul li a{
    text-decoration: none;
    color: aliceblue;
    margin: 0 12px;
    font-weight: 400;
    transition: .3s;

}
.container-header nav ul li a:hover{
    color: red;
}
 .contacto a{
    text-decoration: none;
    color: aliceblue;
    display: inline-block;
    margin-left: 10px;
    transition: .3s;
}
.contacto a:hover{
    color: red;
}
/* .container .container-header .contacto a i{
    size: 10px;
    color: aliceblue;
   
} */

.presentacion{
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: aliceblue;
}

.bienvenida{
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: aliceblue;


}
.presentacion h2{
    font-size: 25px;
    margin-bottom: 25px;
    text-align: center;

}
.presentacion h2 span{
    font-size: 40px;
    color: red;
}

.presentacion .descripcion{
    max-width: 700px;
    margin: 25px auto;
    font-size: 16px;
    text-align: center;
    

}

#icono-nav{
    color: aliceblue;
    display: none;
}

/* ¿Quien Soy? */

#quien_soy{
    max-width: 1100px;
    margin: auto;
    padding: 100px 15px;
    color: aliceblue;
    display: flex;
}
.container-foto{
    max-width: 400px;
    margin-right: 80px;

}
.container-foto img{
    padding: 10px;
    width:100%;
    background-color: #3f3838;
    border-radius: 20px;
    
}
.yo{
    margin: 0px 40px;

}
.yo .titulo{
    font-size: 24px;
    text-transform: uppercase;
    color: aliceblue;
    text-decoration: underline;
    text-decoration-color:red ;
}
.yo h2{
    font-size: 26px;
    font-weight: 500;
}
.yo h2 span{
    color: red;
    font-weight: 600;
}
.yo h3{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;

}
.yo p{
    font-size: 16px;
    margin-bottom: 12px;
}
.yo a{
    display: inline-block;
    text-decoration: none;
    color: aliceblue;
    border-radius: 20px;
    padding: 10px 20px;
    border: 1px solid #3f3838;
    margin-top: 20px;
    transition: .3s;

}
.yo i{
    margin:5px;
}
.yo a:hover{
    color: red;
    border-color: red;
}